/*
 * Style for Card div
 */

.main-content {

}

.one-card {
  margin-top:10px;
}

.one-card:hover {
  cursor:pointer;
}

.one-card-front {
  width:100%;
  height:100%;
  background-color:grey;
}

.one-card-back {
  width:100%;
  height:100%;
  background-color:#000;
}

/* Flip  */
.flipper {
    position:absolute;
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
}

.flipper .flipper-front {
    position:absolute;
    z-index:2;
    /* Initial state */
    -webkit-transform: rotateX(0deg) rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-transform: rotateX(0deg) rotateY(0deg);
    -moz-transform-style: preserve-3d;
    -moz-backface-visibility: hidden;
    /* -- transition is the magic sauce for animation -- */
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.flipper.flip .flipper-front {
     z-index: 2;
     /* Flipped state */
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
}

.flipper .flipper-back {
    position:absolute;
    z-index:1;
    /* Initial state */
    -webkit-transform: rotateY(-180deg);
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;    
    -moz-transform: rotateY(-180deg);
    -moz-transform-style: preserve-3d;
    -moz-backface-visibility: hidden;
    /* -- transition is the magic sauce for animation -- */
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.flipper.flip .flipper-back {
    z-index:3;
    /* Flipped state */
    -webkit-transform: rotateX(0deg) rotateY(0deg);
    -moz-transform: rotateX(0deg) rotateY(0deg);
}
