body, html, h1 {
    padding:0px;
    margin:0px;
    background-color:#661150;
}

a {
    text-decoration:none;
}

img {
    margin:0px;
}

/*will not be used officially*/
.demo-card {
    float:left;
    width:230px;
    height:140px;
    border-radius:10px;
    margin-bottom:15px;
    margin-right:15px;
}

.one-card-front {
    background-color:grey;
    overflow:hidden;
}

.one-card-back {
    background-color:white;
    overflow:hidden;
}

.container {
    max-width:1200px;
    margin:auto;
/*background-color:#EEE;*/
}

/*
  Header styles
  */
.topbar {
    max-width:1000px;
    margin:auto;
    position:relative;
    margin-top: 30px;
    height:50px;
}

.logo, top-link {
    float:left;
}

.logo h1{
    font-family: 'Nunito', sans-serif;
    font-size:35px;

    width:200px;
    /*border:2px solid white;*/
    /*border-radius:10px;*/
    text-align:center;
    color:#FFF;
}

.top-link {
    height:75px;
    position:relative;
}

.top-link a {
    font-family: 'Nunito', sans-serif;
    font-size:20px;

    color:#CCC;
    margin-left:20px;

    position:absolute;
    top: 50%;
}

.top-link a:hover {
    color:#FFF;
}

.main-content, .footer{
    width:1000px;
    margin:auto;
}

.main-content {
    position:relative;
    top:20px;
    height:500px;
}

.card-area {
    float:left;
    width:75%;
    height:100%;
}

.login-form-wrapper {
    float:left;
    width:25%;
    height:100%;
    position:relative;
}

/* Placeholder color */
::-webkit-input-placeholder {
    color:    #A9A7A8;
}
:-moz-placeholder {
    color:    #A9A7A8;
}
::-moz-placeholder {
    color:    #A9A7A8;
}
:-ms-input-placeholder {
    color:    #A9A7A8;
}

#login-form-card {
    width:100%;
    height:70%;
}

.login-form {
    background-color:#FFCCCC;
    border-radius:5px;
    height:100%;
}

.login-form h3 {
    font-family: 'Nunito', sans-serif;
    font-size:30px;
    margin:0px;
    margin-left:5%;
    padding-top:5%;
    line-height:25px;
}

.login-form form {
    width:80%;
    margin:auto;
    margin-top:35px;
}

.login-form form input[type="text"], .login-form form input[type="password"] {
    font-family: 'Nunito', sans-serif;
    font-size:16px;

    background-color:#FFE0E0;
    border-radius:5px;
    border:none;
    width: 100%; 
    height:40px;
    padding:10px;
    margin-top:2px;

    box-sizing: border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box
}

#submit-sign-up-btn {
    margin-top:15px;
    position:relative;
    left:65%;
    width:35%;
    height:30px;
    background-color:#661133;
}

#submit-login-btn {
    margin-top:15px;
    position:relative;
    left:65%;
    width:35%;
    height:30px;
    background-color:#336699;
}

.login-form-btn {
    font-family: 'Nunito', sans-serif;
    font-size:16px;
    
    color:#FFF;
    border-radius:5px;
    border:none;
}

.login-form-btn:hover {
    -moz-box-shadow:    0 0 10px #000000;
    -webkit-box-shadow: 0 0 10px #000000;
    box-shadow:         0 0 10px #000000;
}

.login-form-btn:active {
    -moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;
}

#flip-to-login-btn {
    background-color:#336699;
    width:60px;
    height:60px;
    border-radius:30px;
}

#flip-to-join-btn {
    background-color:#661133;
    width:60px;
    height:60px;
    border-radius:30px;
}

.lower-left {
    position:absolute;  
    left:5%;
    bottom:8%;
}

.classy {
    font-family: 'Nunito', sans-serif;
    font-size:16px;
}

.gap-left {
    margin-left:10px;
}

.shadow {
    -moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;
}

.footer {
    position:relative;
    top:20px;
    height:40px;
}

.footer-links {
    margin-top:5px;
    width:70%;
    float:left;
}

.footer-links a {
    font-family: 'Nunito', sans-serif;
    font-size:15px;
    color:#99F;
    border-right: 1px solid #99F;
    padding-right:20px;
    padding-left:20px;
}

.footer-links a:hover {
    color:#874;
}

.copyright {
    width:30%;
    float:left;
}

.copyright {
    font-family: 'Nunito', sans-serif;
    font-size:15px;
    color:#99F;
}


/* These styles are only for demo purposes */
#example-0-front {
    background-image:url("royal.jpg");
    background-size: 108% auto;
}

#example-0-front h3 {
    font-family: 'Averia Serif Libre', cursive;
    font-size:25px;
    color:white;
    text-shadow: 2px 2px #000;
    margin:5px;
}

#example-0-front p {
    font-family: 'Averia Serif Libre', cursive;
    font-size:18px;
    font-weight:700;
    color:white;
    margin:0px;
    background-color:rgba(0,0,0,0.5);
}

#example-0-back {
    /*background-image:url("royal-1.jpg");*/
    background-size: 108% auto;
    overflow-y:scroll;
}

#example-0-back p {
    font-family: 'Averia Serif Libre', cursive;
    font-size:14px;
    font-weight:400;
    color:#000;
    margin:0px;
    margin-top:5px;
    margin-left:5px;
}

#example-1-front {
    background-image:url("babyface.jpg");
    background-size: 108% auto;
    color:#DAFDDE;
    font-size:35px;
    background-color:rgba(0,0,0,0.2);
}

#example-1-back {
    background-color:#BABB33;
    color:#009933;
    font-size:40px;
}

#example-2-front {
    background-color:#000;
    color:#FFF;
    text-align:center;
    font-size:40px;
    line-height:130px;
}

#example-2-back {
    background-color:#FFF;
    color:#000;
    text-align:center;
    font-size:32px;
}

#example-2-front b {
    vertical-align:middle;
}

.video-area {
    
}

#example-4-front, #example-4-back {
    line-height:130px;
}

#example-4-front {
    background-color:#CCC;
    color:#123;
    text-align:center;
    font-size:40px;
}

#example-4-back {
    background-color:#996633;
    color:#FFF;
    text-align:center;
    font-size:40px;
}

#example-4-front b, #example-4-back b {
    font-family: 'Averia Serif Libre', cursive;
    vertical-align:middle;
}

#example-6-front {
    background-color:#882244;
    color:#667733;
    text-align:center;
}

#example-6-back {
    background-color:#996633;
    color:#FFF;
    text-align:center;
    font-size:40px;
}

#example-6-front b {
    font-family: 'Averia Serif Libre', cursive;
    position:relative;
    top:15%;
    font-size:18px;
}

#example-7-back {
    background-image: url('trees.jpeg');
    background-size: 108% auto;
}

#example-7-front {
    background-image: url('beaut.jpg');
    background-size: 108% auto;
}

#example-8-front {
    background-image: url('smith.jpg');
    background-size: 70% auto;
    background-repeat: no-repeat;
    background-position: center; 
}

#example-8-back {
    background-image: url('blue.png');
    background-size: 70% auto;
    background-repeat: no-repeat;
    background-position: center; 
}
