body, html, h1 {
    padding:0px;
    margin:0px;
    background-color:#661150;
}

a {
    text-decoration:none;
}

.container {
    max-width:1200px;
    margin:auto;
    /*background-color:#EEE;*/
}

/*
   Header styles
 */
.topbar {
    max-width:1000px;
    margin:auto;
    position:relative;
    margin-top: 30px;
    height:50px;
}

.logo, .search-bar, top-link {
    float:left;
}

.logo h1{
    font-family: 'Nunito', sans-serif;
    font-size:35px;

    width:200px;
    /*border:2px solid white;*/
    /*border-radius:10px;*/
    text-align:center;
    color:#FFF;
}

.search-bar {
    width:400px;
    height:75%;
    background-color:#FFF;
    border:5px solid #FFF;
    border-radius:15px;
}

.search-bar:hover {
    background-color:#660066;
}

.top-link {
    height:75px;
    position:relative;
}

.top-link a {
    font-family: 'Nunito', sans-serif;
    font-size:20px;

    color:#CCC;
    margin-left:20px;

    position:absolute;
    top: 50%;
}

.top-link a:hover {
    color:#FFF;
}

.main-content, .footer{
    width:1000px;
    margin:auto;
}

.main-content {
    position:relative;
    top:20px;
    height:500px;
}

.card-area {
    float:left;
    width:75%;
    height:100%;
}

.login-form-wrapper {
    float:left;
    width:25%;
    height:100%;
}

.footer {
    position:relative;
    top:20px;
    height:40px;
}

.footer-links {
    margin-top:5px;
    width:70%;
    float:left;
}

.footer-links a {
    font-family: 'Nunito', sans-serif;
    font-size:15px;
    color:#99F;
    border-right: 1px solid #99F;
    padding-right:20px;
    padding-left:20px;
}

.footer-links a:hover {
    color:#874;
}

.copyright {
    width:30%;
    float:left;
}

.copyright {
    font-family: 'Nunito', sans-serif;
    font-size:15px;
    color:#99F;
}

/*will not be used officially*/
.one-card {
    float:left;
    width:230px;
    height:140px;
    border-radius:10px;
    margin-bottom:15px;
    margin-right:15px;
    background-color:grey;
}

.login-form {
    width:100%;
    height:70%;
    background-color:pink;
    border-radius:5px;
    
}

/*
   Main content
 */
